

export PROJECT_ID='rick-and-nardy-demo'
export REGION='us-central1'

######################################################
# Quickstart of CD
export ENDPOINT_ID="quickstart-prod"
######################################################

echo '.envrc sourced.'

# consider adding to # terraform.tfvars
