

export PROJECT_ID='rick-and-nardy-demo'
export REGION='us-central1'

######################################################
# Quickstart of CD
export ENDPOINT_ID="quickstart-prod"
#export TMPDIR=/tmp/tmp.Fe9QrUEzpe/
export TMPDIR=out/
######################################################

echo '.envrc sourced.'

# consider adding to # terraform.tfvars
