

export PROJECT_ID='rick-and-nardy-demo'
export REGION='us-central1'

export PROD_PROJECT_ID='rick-and-nardy-prod'
# region is the same, lets keep it easy.


######################################################
# Quickstart of CD
######################################################
export ENDPOINT_ID="quickstart-prod"
#export TMPDIR=/tmp/tmp.Fe9QrUEzpe/
export TMPDIR=out/
######################################################

######################################################
# Quickstart of Terraform: https://github.com/GoogleCloudPlatform/cloud-deploy-samples/blob/main/custom-targets/terraform/quickstart/QUICKSTART.md
######################################################
export DEV_BACKEND_BUCKET=$PROJECT_ID-$REGION-tf-dev-backend
export PROD_BACKEND_BUCKET=$PROJECT_ID-$REGION-tf-prod-backend
######################################################

echo '.envrc sourced.'

# consider adding to # terraform.tfvars
