# Copied from https://github.com/GoogleCloudPlatform/cloud-deploy-samples/blob/main/custom-targets/vertex-ai/quickstart/
################################################################################################
# After talking to Sander, we agreed the best approach is to:
# 1. [DONE] Make automation dev2stag
# 2. [DONE] Make automation stag2prod
# 3. [DONE] Make ``requireApproval: true`` in prod
# 4. Use https://cloud.google.com/deploy/docs/parameters which are available in proper places.
# 5. Add verify to both DEV and STAGING
################################################################################################
apiVersion: deploy.cloud.google.com/v1
kind: DeliveryPipeline
metadata:
  # [ricc] **BEWARE** This needs to be THE SAME as ${VAI_PIPELINE}
  # .. but I dont want to configure yet another config thingy.
  # VAI_PIPELINE: vertex-ai-cloud-deploy-pipeline
  #name: vertex-ai-demo-v2
  #name: vertex-ai-cloud-deploy-pipeline
  name: vertex-demo-verify # v4 after tryptich :)
  description: |
    240322 v4.1 Added endpoints with n1-standard-{8-16} depending on target
serialPipeline:
  stages:
  - targetId: vertex-dev
    strategy:
      standard:
        # Verification for DEV
        verify: true
        postdeploy:
          actions: ["add-aliases"] # TODO change me
  - targetId: vertex-preprod
    strategy:
      standard:
        verify: true
        postdeploy:
          actions: ["add-aliases"] # TODO change me
  - targetId: vertex-prod
    strategy:
      standard:
        postdeploy:
          actions: ["add-aliases"] # This is correct (PROD)
---
apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: vertex-dev
customTarget:
  customTargetType: vertex-ai-endpoint
deployParameters:
  customTarget/vertexAIEndpoint: projects/rick-and-nardy-demo/locations/us-central1/endpoints/demo24-dev
  customTarget/vertexAIConfigurationPath: "dev/deployedModel.yaml"
  customTarget/vertexAIMinReplicaCount: "1"
  customTarget/vertexAIAliases: "demo24-dev,v4-verify,put-on-water,stage1"
---
apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: vertex-preprod
customTarget:
  customTargetType: vertex-ai-endpoint
deployParameters:
  customTarget/vertexAIEndpoint: projects/rick-and-nardy-demo/locations/us-central1/endpoints/demo24-preprod
  customTarget/vertexAIConfigurationPath: "preprod/deployedModel.yaml"
  customTarget/vertexAIMinReplicaCount: "3"
  customTarget/vertexAIAliases: "demo24-preprod,v4-verify,butta-la-pasta,stage2"
  # Note: the customTarget/vertexAIModel is passed via CLI instead..
---
apiVersion: deploy.cloud.google.com/v1
kind: Target
metadata:
  name: vertex-prod
customTarget:
  customTargetType: vertex-ai-endpoint
requireApproval: true
deployParameters:
  customTarget/vertexAIEndpoint: projects/rick-and-nardy-demo/locations/us-central1/endpoints/demo24-prod
  customTarget/vertexAIConfigurationPath: "prod/deployedModel.yaml"
  customTarget/vertexAIMinReplicaCount: "3"
  customTarget/vertexAIAliases: "demo24-prod,v4-verify,pasta-ready,stage3"
  # Note: the customTarget/vertexAIModel is passed via CLI instead..
---
apiVersion: deploy.cloud.google.com/v1
kind: Automation
metadata:
  name:  vertex-demo-verify/promote-dev2preprod
  #name:  vertex-demo-verify/auto-promote-after-verify # from Nate
description: promotes a release Dev 2 PreProd immediately # after Deploy, Verify, PostDeploy
suspended: false
serviceAccount: 849075740253-compute@developer.gserviceaccount.com # correct ricc SA for ricc-and-nardy
selector:
- target:
    id: vertex-dev
rules:
- promoteRelease:
    name: "promote-release-v4-1to2"
    wait: 0m
    toTargetId: "@next"
    #toTargetId: vertex-preprod
---
apiVersion: deploy.cloud.google.com/v1
kind: Automation
metadata:
  name:  vertex-demo-verify/promote-preprod2prod
description: promotes a release PreProd 2 Prod immediately - pending approval
suspended: false
serviceAccount: 849075740253-compute@developer.gserviceaccount.com # correct ricc SA for ricc-and-nardy
selector:
- target:
    id: vertex-preprod
rules:
- promoteRelease:
    name: "promote-release-v4-2to3"
    wait: 0m
    toTargetId: "@next"
    #toTargetId: vertex-preprod
